*{
	margin: 0;
	padding: 0;
}

body{
	background: #111;
	box-sizing: border-box;
}

header{
	position: fixed;
	width: 100%;
	height: 70px;
	z-index: 1000;
	transition: .7s background;

}
header.activeBg{
	background: #1119;
}

.nav{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	 padding:0px 10px;

}

.menu{
	display: none;
	padding: 0px 15px;
}

.menu i{
	color: #0062ff;
}

img{
	width: 100%;
	height: 100%;
}
.title-logo{
	padding: 0px 5px;
	color: #fff;
	font-size: 30px;
}

.logo i{
	font-size: 30px;
	color: #0062ff;
	transform: translateY(2px);
}
.login{
	padding: 0px 15px;
}
.btn-login{
	cursor: pointer;
	padding: 10px 20px;
	border: 0;
	background: #fff;
	border-radius: 20px;
	outline: none;
	color: #111;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
}

.main{
	background: #222;
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 900px;
}

.type-music{
	position: relative;
   width: 30%;
	top: 70px;
	height: 100%;
}

.title-music-type{
   padding: 0px 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.type{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 15px 0px;
   font-size: 15px;
   font-weight: 500;
   color: #ccc;
   cursor: pointer;
   transition: .7s color;
}

.type:hover{
	color: #Fff;
}
i{
	font-size: 22px;
}
.type span{
	font-size: 15px;
	font-weight: 200;
	padding: 0px 13px;
}
.options-list{
   padding: 10px 0px;
}
.option-create-list{
 cursor: pointer;
 display: flex;
 justify-content:flex-start;
 align-items: center;
 color: #ccc;
 padding: 5px 0px;
 margin: 10px 0px;
 transition: .7s color;
}
.option-create-list:hover{
   color: #fff;
}
.option-favorite-music{
 cursor: pointer;
 padding: 5px 0px;
 display: flex;
 justify-content:flex-start;
 align-items: center;
 color: #ccc;
 margin: 10px 0px;
 transition: .7s color; 
}
.option-favorite-music:hover{
	color: #fff;
}
.option-create-list h3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;	
  font-size: 20px;
  color: #ccc;
  padding: 0px 13px;
  transition: .7s color; 
}
.option-create-list h3:hover{
	color: #fff;
}
.option-favorite-music h3{
  font-weight: 400;
  font-size: 20px;
  color: #ccc;
  padding: 0px 13px;
  transition: .7s color; 
}
.option-favorite-music h3:hover{
	color: #fff;
}

.content-music-preview{
	position: relative;
	width: 70%;
}

.banner-music-img{
	 position: relative;
     width: 100%;
     height: 50%;
     background: url("b-electro.jpg");
     background-size: cover;
     background-color: #ffb3cc;
     background-blend-mode: hard-light;
     background-repeat: no-repeat;
     background-position: center;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;


}

.banner-music-img h3{
	padding: 20px;
	color: #Fff;
	font-size: 40px;
}

.title-presentacion{
	width: 100%;
}
.titile-presentacion-h3{
	 padding: 25px 0px 5px 20px;
	 font-size: 30px;
	 color: #eee;
}

.titile-presentacion-p{
	 padding: 0px 20px;
	 font-size: 15px;
	 color: #ddd;
}

.contenedores-musica{ 
	width: 900px;
	margin: 10px 0px;
   display: flex;
}

.musica-list{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 4px 10px;
	margin: 5px 10px;
	width: 170px;
	height: 280px;
	background: #333;
	transition: .3s background;
	cursor: pointer;
}

.musica-list:hover{
    background: #444;
}

	.musica-list:hover .btn-pick-music {
		  opacity: 1;
		  visibility: visible;
        transform: translateY(0px);
}

	.musica-list-wrap{
		position: relative;
       border-radius: 5px;
       width: 190px;
       height: 250px;
       overflow: hidden;
}

	.musica-list-wrap-marcaDeAgua{
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
        font-size: 15px;
        font-weight: bolder;
        color: #222;
        padding: 5px;
        background: #fff;
}

	.musica-list-wrap-marcaDeAgua i{
    font-size: 15px;     
}

	.imgBx{
	  position: relative;
     width: 100%;
     height: 150px;
}


.btn-pick-music{
	  display: inline-block;
     position: absolute;
     right: 10px;
     bottom: 10px;
     background: #2c24bf;
     border-radius: 50%;
     opacity: 0;
     visibility: hidden;
     transform: translateY(19px);
     transition: .3s;
}
.btn-pick-music:hover{
	 background: #5952e3;
}
.btn-pick-music .ri-play-fill{
	  display: inline-block;
	  padding: 9px;
     color: #fff;
 }


.music-description-p{
	font-weight: 900;
	color: #ddd;
	font-size: 14px;
	padding: 10px 0px 4px 10px;
}

	.music-description-h3{
	 color: #fff;
	 font-size: 18px;
	 font-weight: 900;
    padding: 1px 10px;
}

@media screen and (max-width:600px){
	  .menu{
	  	 cursor: pointer;
       display: block;
	  }
	  .login{
       display: none;
	   }
	   .title-music-type{
        padding: 70px  20px;
	   }
	   .type-music{
	   transform: translateX(-100%);
	   position: fixed;
	   z-index: 50;
	   background: #041329;
	   top: 0;
	   width: fit-content;
	   transition: .7s transform;
	   }    
	   .type-music.active{ 	
	   transform: translateX(0%);;
      }  

	   .content-music-preview{
         width: 100%;
	   }
}
